/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-fancy-display {
	color: #fff;
	font-size: 0px;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.fancy-text-container {
	section {
		display: flex;
		flex-direction: column;
	}
}

.fancy-text-container:not(.imgFirst) {
	width: 100%;
	background-color: white;
	display: flex;
	flex-direction: column;
	margin-left: auto;
	padding: 0rem 20%;
	@media only screen and (max-width: 1200px) {
		padding: 0rem 20%;
	}
	@media only screen and (max-width: 992px) {
		padding: 0rem 10%;
	}
	@media only screen and (max-width: 768px) {
		padding: 0rem 10%;
	}
	@media only screen and (max-width: 480px) {
		padding: 0rem 1rem;
	}
	.content-seperator {
		display: flex;
		flex-direction: column;
	}
	img {
		@media only screen and (min-width: 1600px) {
			width: 40%;
			height: 30rem;
		}
		object-fit: cover;
		border-radius: 10px;
		margin-top: 14rem;
		margin-left: auto;
		position: relative;
		width: 65%;
		height: auto;
		margin-bottom: 3rem;
		@media only screen and (max-width: 1200px) {
			margin-top: 10rem;
			width: 50%;
		}
		@media only screen and (max-width: 992px) {
			width: 60%;
			max-width: 100%;
		}
		@media only screen and (max-width: 768px) {
			max-width: 100%;
			width: 60%;
			height: auto;
			position: relative;
			margin-top: 3rem;
		}
		@media only screen and (max-width: 480px) {
		}
	}

	section {
		@media only screen and (min-width: 1600px) {
			padding: 6rem;
			width: 40%;
		}
		display: flex;
		padding: 5rem;
		background-color: hsl(208, 13%, 44%);
		width: 35%;
		border-radius: 10px;
		margin-top: 3rem;
		margin-left: auto;
		z-index: 1;
		margin-bottom: 3rem;
		letter-spacing: 2px;
		line-height: 1.5;
		min-height: 25rem;
		position: absolute;
		@media only screen and (max-width: 1200px) {
			min-height: 25rem;
			padding: 4rem;
			width: 40%;
		}
		@media only screen and (max-width: 992px) {
			padding: 4rem;
			width: 50%;
		}
		@media only screen and (max-width: 768px) {
			padding: 4rem;
			width: 90%;
			position: relative;
			margin-right: auto;
			margin-left: 0;
			margin-bottom: 0rem;
		}
		@media only screen and (max-width: 480px) {
		}
		p {
			margin: auto;
			color: white;
			font-size: 1.5rem;
			@media only screen and (max-width: 1200px) {
				font-size: 1rem;
			}
			@media only screen and (max-width: 992px) {
				font-size: 1rem;
			}
			@media only screen and (max-width: 768px) {
			}
			@media only screen and (max-width: 480px) {
			}
		}
	}
}

.fancy-text-container.imgFirst {
	width: 100%;
	background-color: white;
	display: flex;
	flex-direction: column;
	margin-left: auto;
	padding: 0rem 20%;
	@media only screen and (max-width: 1200px) {
		padding: 0rem 20%;
	}
	@media only screen and (max-width: 992px) {
		padding: 0rem 20%;
	}
	@media only screen and (max-width: 768px) {
		padding: 0rem 10%;
	}
	@media only screen and (max-width: 480px) {
		padding: 0rem 1rem;
	}
	.content-seperator {
		display: flex;
		flex-direction: column;
	}
	img {
		@media only screen and (min-width: 1600px) {
			width: 25%;
			height: 40rem;
		}
		object-fit: cover;
		border-radius: 10px;
		margin-top: 3rem;
		margin-left: unset;
		position: absolute;
		right: unset;
		width: 25%;
		height: 25rem;
		max-width: 50%;
		@media only screen and (max-width: 1200px) {
			width: 25%;
			height: 25rem;
		}
		@media only screen and (max-width: 992px) {
			width: 25%;
			height: 20rem;
		}
		@media only screen and (max-width: 768px) {
			width: 90%;
			height: auto;
			max-width: 90%;
			height: auto;
			position: relative;
			margin-top: 3rem;
		}
		@media only screen and (max-width: 480px) {
		}
	}

	section {
		@media only screen and (min-width: 1600px) {
			min-height: 40rem;
		}
		display: flex;
		padding: 6rem;
		background-color: #61707d;
		width: 60%;
		border-radius: 10px;
		margin-top: 10rem;
		margin-left: auto;
		z-index: 1;
		margin-bottom: 3rem;
		letter-spacing: 2px;
		line-height: 1.5;
		min-height: 25rem;
		@media only screen and (max-width: 1200px) {
			min-height: 25rem;
			padding: 4rem;
			margin-top: 8rem;
		}
		@media only screen and (max-width: 992px) {
			padding: 4rem;
			min-height: 20rem;
		}
		@media only screen and (max-width: 768px) {
			padding: 4rem;
			width: 90%;
			margin-top: 3rem;
			margin-bottom: 0rem;
		}
		@media only screen and (max-width: 480px) {
		}
		p {
			margin: auto;
			color: white;
			font-size: 1.5rem;
			@media only screen and (max-width: 1200px) {
				font-size: 1rem;
			}
			@media only screen and (max-width: 992px) {
				font-size: 1rem;
			}
			@media only screen and (max-width: 768px) {
			}
			@media only screen and (max-width: 480px) {
			}
		}
	}
}

.fancy-text-title-container {
	background-color: white;
	padding: 3rem 1rem 0 1rem;
	display: flex;
	h3 {
		color: black;
		margin: 0rem;
	}
}
